# Content
## 1. Importing Libraries
## 2. Importing Data Frames
## 3. Creating flags
## 4. Frequency of orders by day of the week
## 5. Frequency of orders by hour of the day
## 6. Exporting dataframe

# 1. Importing Libraries

In [19]:
import pandas as pd
import numpy as np
import os

# 2. Importing Data Frames

In [20]:
# Creating the path for the data
path = r'C:\Users\sdaon\Documents\Instacart Basket Analysis'

In [21]:
# Importing orders_products_combined
df = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged.pkl'))

In [22]:
# df = ords_prods_merge[:1000000]

In [23]:
df.head(20)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,Unnamed: 0,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,NaN,196,1,0,195,Soda,77,7,9.0,both
1,2398795,1,2,3,7,15.0,196,1,1,195,Soda,77,7,9.0,both
2,473747,1,3,3,12,21.0,196,1,1,195,Soda,77,7,9.0,both
3,2254736,1,4,4,7,29.0,196,1,1,195,Soda,77,7,9.0,both
4,431534,1,5,4,15,28.0,196,1,1,195,Soda,77,7,9.0,both
5,3367565,1,6,2,7,19.0,196,1,1,195,Soda,77,7,9.0,both
6,550135,1,7,1,9,20.0,196,1,1,195,Soda,77,7,9.0,both
7,3108588,1,8,1,14,14.0,196,2,1,195,Soda,77,7,9.0,both
8,2295261,1,9,1,16,0.0,196,4,1,195,Soda,77,7,9.0,both
9,2550362,1,10,4,8,30.0,196,1,1,195,Soda,77,7,9.0,both
10,2968173,15,15,1,9,7.0,196,2,0,195,Soda,77,7,9.0,both
11,1870022,15,17,2,16,8.0,196,6,1,195,Soda,77,7,9.0,both
12,1911383,15,18,2,11,7.0,196,1,1,195,Soda,77,7,9.0,both
13,2715276,15,21,1,9,7.0,196,1,1,195,Soda,77,7,9.0,both
14,487368,15,22,1,10,14.0,196,1,1,195,Soda,77,7,9.0,both
15,2293453,19,2,5,14,6.0,196,3,0,195,Soda,77,7,9.0,both
16,1973799,19,5,6,12,8.0,196,15,1,195,Soda,77,7,9.0,both
17,532817,19,7,4,17,6.0,196,1,1,195,Soda,77,7,9.0,both
18,1573906,21,10,3,10,6.0,196,2,0,195,Soda,77,7,9.0,both
19,1593000,31,10,3,8,7.0,196,17,0,195,Soda,77,7,9.0,both

In [24]:
df.shape

(32434212, 15)

# 3. Creating flag

In [25]:
def price_label(row):
  if row['prices'] <= 5:
    return 'Low-range product'
  elif (row['prices'] > 5) and (row['prices'] <= 15):
    return 'Mid-range product'
  elif row['prices'] > 15:
    return 'High range'
  else: return 'Not enough data'

In [ ]:
df['price_range'] = df.apply(price_label, axis=1)

In [ ]:
df['price_range'].value_counts(dropna = False)

In [ ]:
df['prices'].max()

In [ ]:
df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [ ]:
df.loc[(df['prices'] <= 15) & (df['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [ ]:
df.loc[df['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [ ]:
df['price_range_loc'].value_counts(dropna = False)

In [ ]:
ords_prods_merge.loc[ords_prods_merge['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [ ]:
ords_prods_merge.loc[(ords_prods_merge['prices'] <= 15) & (ords_prods_merge['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [ ]:
ords_prods_merge.loc[ords_prods_merge['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [ ]:
ords_prods_merge['price_range_loc'].value_counts(dropna = False)

# 4. Frequency of orders by day of the week

In [ ]:
ords_prods_merge['orders_day_of_week'].value_counts(dropna = False)

In [ ]:
result = []

for value in ords_prods_merge["orders_day_of_week"]:
  if value == 0:
    result.append("Busiest day")
  elif value == 4:
    result.append("Least busy")
  else:
    result.append("Regularly busy")

In [ ]:
result

In [ ]:
ords_prods_merge['busiest_day'] = result

In [ ]:
ords_prods_merge['busiest_day'].value_counts(dropna = False)

In [ ]:
# Step 2 
result = []

for value in ords_prods_merge["orders_day_of_week"]:
  if value == 0 or value == 1:
    result.append("Busiest days")
  elif value == 4 or value ==3:
    result.append("Slowest days")
  else:
    result.append("Regular days")

In [ ]:
# create the busiest days column
ords_prods_merge['Busiest_days'] = result

In [ ]:
ords_prods_merge['Busiest_days'].value_counts(dropna = False)

# 5. Frequency of orders by hour of the day

In [ ]:
# step4 check order hour of day
ords_prods_merge['order_hour_of_day'].value_counts(dropna = False)

In [ ]:
# step 4: 7 hours, top and fewest orders 
hourly_result = []
for value in ords_prods_merge["order_hour_of_day"]:
  if (value >= 10 and value <= 16):
    hourly_result.append("Most orders")
  elif (value <= 6):
    hourly_result.append("Fewest orders")
  else:
    hourly_result.append("Average orders")

In [ ]:
# Create the busiest_period_of_day column
ords_prods_merge['busiest_period_of_day'] = hourly_result

In [ ]:
ords_prods_merge['busiest_period_of_day'].value_counts(dropna = False)

In [ ]:
ords_prods_merge.head()

# 6. Exporting dataframe

In [ ]:
#Exporting data
ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_hourly_daily.pkl'))